.box-mid {
  max-width: 728px;
  padding: 0 24px;
  margin: 0 auto;
  img {
    max-width: 680px;
  }
}

.user__posts {
  min-height: 800px;
}

.user-stories {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 64px 64px;
}

.user-auths {
  max-width: 1028px;
  padding: 64px;
  margin: 0px auto;
  border: 1px solid #ccc;
  display: flex;
}

.bg-black {
  background-color: #000;
}

.icon,
.link {
  cursor: pointer;
}

.icon-small {
  font-size: 20px;
}

.icon-mid {
  font-size: 25px;
}

#bookmark {
  width: 24px;
  height: 24px;
}

.svg-small {
  width: 20px;
  height: 20px;
}

.svg-mid {
  width: 25px;
  height: 25px;
}

.badge-success:hover {
  background: $dark-green;
}

.size-small {
  width: 32px;
  height: 32px;
}

.size-small-mid {
  width: 36px;
  height: 36px;
}

.size-mid {
  width: 40px;
  height: 40px;
}

.clap {
  font-size: 25px;
  cursor: pointer;
}

@media screen and (max-width: 992px) {
  .auth-pic {
    display: none;
  }
}
